body {
    background-color: whitesmoke;
    font-family: 'Varela Round';
    font-size: larger;
}

#topbar {
    margin: 5px;
    padding: 5px;
    background-color: white;
    filter: drop-shadow(3px 3px 10px gray);
    border-radius: 5px;
}

#fileList {
    margin: 5px;
    margin-top: 10px;
    padding: 0px;

    filter: drop-shadow(3px 3px 10px gray);
}

#fileList :first-child {
    border-radius: 10px 10px 0px 0px;
    border-width: 0px 0px 1px 0px ;
}

#fileList :last-child {
    border-radius: 0px 0px 10px 10px;
    border-width: 1px 0px 0px 0px ;
}

#fileList :only-child {
    border-radius: 10px;
}

.file {
    padding: 5px;
    background-color: white;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    display: grid;
    grid-template-columns: 31px 200px auto 200px;
    transition: background-color 0.2s;
    transition: 1s all;
}

.fileselected {
    background-color: #a1fffa;
}

#filelink {
    padding: 2px;
    text-decoration: none;
    grid-column: 2;
}

#selecter {
    font-size: 20px;
    padding: 5px;
}

.filemenuoptions {
    grid-column: 4;
    height: 100%;
    width: 200px;
    display: flex;
}

.fileoption {
    display: flex;
    justify-content: center;
    align-items: center;
}



.filedownloader {
    height: 0;
    width: 0;
}

.edittextbox {
    display: none;
    height: 1px;
    width: 100%;
}